<div class="header">
  <img src="../../assets/banner5.jpg" class="img-fluid" alt="Airmen marshalling a KC-135">
  <div class="center">
    <i class="fas fa-question-circle"></i> Frequently Asked Questions</div>
</div>

<div class="container faq">
  <div class="row">
    <div class="col">
      <div id="accordion">

        <div class="card">
          <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5 class="mb-0">
              <button class="btn btn-link">
                When is the Airshow?
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              The Frontiers in Flight airshow starts on Sept. 8th and will be open to the public through the 9th. The gates open at 9:00AM
              and closes at 4:30PM.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                How much are tickets?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Frontiers in Flight is an open house, and entry to the event is free. There are vendors attending that will sell food and
              beverages.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                What is the Schedule?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              A growing list of performers are listed
              <a routerLink="../performers" class="goToTop">here</a>. Unfortunately, the sequence is not solidified until
              the morning of the Airshow to allow for security, safety, weather, and operational concerns.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                Will the schedule be the same over the weekend?
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              The Schedule for Saturday and Sunday is planned to be identical. When dealing with aviation, there is always a chance the
              schedule might change.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                Will the static displays be open all day?
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              The majority of static displays will be open for the entire day. The aircraft participating in both static and as aerial
              performers will close prior to their performance, and potentially open up after the performance is over.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                What should I bring to the Airshow?
              </button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
              <h4>Permitted Items</h4>
              <ol>
                <li>Diaper Bags</li>
                <li>Small Purses (not to exceed one cubic foot)</li>
                <li>Wheelchairs</li>
                <li>Strollers</li>
                <li>Cameras</li>
                <li>Lawn Chairs</li>
                <li>Handheld Umbrellas</li>
                <li>Sunscreen</li>
              </ol>
              <p>For a printable version of this list, <a href="../../assets/AirshowPermittedItems.pdf" target="_blank">click
                  here
                </a>.</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                What items are prohibited?
              </button>
            </h5>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
              <h3>Do not bring these items</h3>
              <ol>
                <li>Weapons of any kind</li>
                <ol>
                  <li>Firearms</li>
                  <li>Knives</li>
                  <li>Pocket Tools</li>
                  <li>Scissors</li>
                  <li>Lasers</li>
                  <li>Self Defense Weapons (i.e. Tasers, pepper spray, etc.)</li>
                </ol>
                <li>Federally Illegal Drugs</li>
                <li>Clothing with profanity, nudity, racist intent or graphic violence of any kind</li>
                <li>Clothing with the perception of impersonating military or law enforcement personnel</li>
                <li>Banners or signs of any kind</li>
                <li>Toys resembling lasers or firearms</li>
                <li>RC Aircraft (i.e. drones, balloons)</li>
                <li>Flammable Items or Fireworks</li>
                <li>Pressurized Canisters (i.e. Silly String or Spray Paint)</li>
                <li>Pets (exception for certified service animals)</li>
                <li>Outside Food and Drink (refillable water bottles are permitted)</li>
                <ol>
                  <li>Alcoholic Beverages</li>
                  <li>Coolers</li>
                  <li>Glass Containers</li>
                </ol>
                <li>Sporting Equipment/Personal Transportation Vehicles</li>
                <ol>
                  <li>Bicycles</li>
                  <li>Skateboards</li>
                  <li>Scooters</li>
                  <li>Roller Blades</li>
                </ol>
                <li>Excessively Large Items</li>
                <ol>
                  <li>All bags must meet be at or under 12 inches by 12 inches by 12 inches</li>
                  <li>Working cameras and lens are permitted if meeting the above standards</li>
                </ol>
                <li>Any and all items security personnel consider a safety or security risk</li>
              </ol>
              <p>
                <a href="../../assets/AirshowProhibitedItems.pdf" target="_blank">Please click here to for a printable version
                  of this list.</a>
              </p>
              <h5>All individuals are subject to search.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>