<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-8 contact">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-marketing-tab" data-toggle="pill" href="#pills-marketing" role="tab" aria-controls="pills-marketing" aria-selected="true">22d FSS Marketing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-pa-tab" data-toggle="pill" href="#pills-pa" role="tab" aria-controls="pills-pa" aria-selected="false">Public Affairs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-cs-tab" data-toggle="pill" href="#pills-cs" role="tab" aria-controls="pills-cs" aria-selected="false">Commercial Sponsorship</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-po-tab" data-toggle="pill" href="#pills-po" role="tab" aria-controls="pills-po" aria-selected="false">Airshow Planning Staff</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" id="pills-vr-tab" data-toggle="pill" href="#pills-vr" role="tab" aria-controls="pills-vr" aria-selected="false">Vendor Requests</a>
            </li> -->
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-marketing" role="tabpanel" aria-labelledby="pills-marketing-tab">
              22d Force Support Squadron Marketing Department is responsible for promoting the wide variety of recreation, social, and community support activities for all military personnel and their families. Visit <a href="http://refuelmcconnell.com" target="_blank" rel="noopener">refuelmcconnell.com</a> for all FSS events and programs.
            </div>
            <div class="tab-pane fade" id="pills-pa" role="tabpanel" aria-labelledby="pills-pa-tab">
              Please contact McConnell Air Force Base’s 22nd Air Refueling Wing Public Affairs Office for any questions regarding public participation using our <a href="http://www.mcconnell.af.mil/Contact-Us/" target="_blank"  rel="noopener">contact form</a>.
            </div>
            <div class="tab-pane fade" id="pills-cs" role="tabpanel" aria-labelledby="pills-cs-tab">
              Sponsors receive valuable branding and promotional opportunities to reach a large and diverse air show audience. Anticipated attendance is 150,000 for this two day event. Commercial Sponsorships help to enhance the air show with features such as Kid Zone and STEM exhibits, non- military air acts and hospitality seating. Don't miss your opportunity to become a Frontiers in Flight Commercial Sponsor! For details contact Cheryl Kellogg at <a href="mailto:cheryl.kellogg@us.af.mil">cheryl.kellogg@us.af.mil</a> or <a href="tel:3167594348">(316) 759-4348</a>.<br><br><a href="../../assets/FrontiersInFlightSponsorship.pdf">Click here to learn more about sponsorship opportunities</a>.
            </div>
            <div class="tab-pane fade" id="pills-po" role="tabpanel" aria-labelledby="pills-po-tab">
              The Airshow Planning Staff is working hard to develop the best show for our Wichita community! To contact the director, air operations coordinator, or ground operations coordinator please call <a href="tel:3167592608">(316) 759-2608</a>.
            </div>
            <div class="tab-pane fade" id="pills-vr" role="tabpanel" aria-labelledby="pills-vr-tab">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda nobis ipsa, ab, error sapiente dolores quisquam vitae quas temporibus beatae perferendis magnam at saepe aperiam cupiditate suscipit eius commodi reprehenderit?
            </div>
          </div>
      </div>
      <div class="col-sm-3 col-md-4 links">
        <ul>
          <li>
            <a routerLink="" class="goToTop">Home</a>
          </li>
          <li>
            <a routerLink="performers" class="goToTop">Performers</a>
          </li>
          <li>
            <a routerLink="schedules" class="goToTop">Schedules</a>
          </li>
          <li>
            <a routerLink="maps" class="goToTop">Maps</a>
          </li>
          <li>
            <a routerLink="exhibits" class="goToTop">Exhibits</a>
          </li>
          <li>
            <a routerLink="faqs" class="goToTop">FAQs</a>
          </li>
          <li>
            <a routerLink="sponsors" class="goToTop">Sponsors</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row credit">
      <div class="col text-center">
        <p>Created by XPX</p>
      </div>
    </div>
  </div>
</footer>