.landing {
    background-image: url(../../assets/fifheritage.png);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    padding-top: 5em;
}

img {
    max-width: 150px;
}

.title {
    margin-top: 25%;
    color: white;
}
@media screen and (min-width: 576px) {
    .title {
        margin-top: 15%;
    }
    img {
        margin-top: 60%;
    }
}

#mc_embed_signup {
    display: block;
}