<div class="header">
  <img src="../../assets/banner6.jpg" class="img-fluid" alt="KC-135 parked at night">
  <div class="center">
    <i class="fas fa-map"></i> Maps</div>
</div>

<!-- Grounds Map -->
<div class="map grounds text-center">
  <h2>Airshow Ramp Layout</h2>
  <img src="../../assets/maps/ramp.jpg" class="img-fluid" alt="Airshow Ramp Layout">
  <h2 style="padding-top: 3em;">Parking Maps Coming Soon</h2>
</div>

<!-- Parking Map -->
<!-- <div class="map">
  <img src="../../assets/map_ex.jpg" class="img-fluid">
</div> -->

<!-- Shuddle Map -->
<!-- <div class="map">
  <img src="../../assets/map_ex.jpg" class="img-fluid">
</div> -->