<div class="header">
  <img src="../../assets/banner6.jpg" class="img-fluid">
  <div class="center"><i class="fas fa-map"></i> Maps</div>
</div>

<!-- Grounds Map -->
<div class="map grounds text-center">
  <h2>Airshow Ramp Layout</h2>
  <img src="../../assets/maps/aircraft.jpg" class="img-fluid">
</div>

<!-- Parking Map -->
<!-- <div class="map">
  <img src="../../assets/map_ex.jpg" class="img-fluid">
</div> -->

<!-- Shuddle Map -->
<!-- <div class="map">
  <img src="../../assets/map_ex.jpg" class="img-fluid">
</div> -->