<div class="container-fluid timeline-container">
  <div class="row">
    <div class="col">
        <h3>Milestones at McConnell</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
      <div class="main-timeline">

        <div class="timeline">
          <span class="timeline-icon"></span>
          <div class="timeline-content">
            <!-- <h3 class="title">Lorem Ipsum</h3> -->
            <div class="img text-center">
              <img src="../assets/timeline/henrySpicer.png" class="img-fluid img-thumbnail">
            </div>
            <p class="description">
              Colonel Henry Russell Spicer served simultaneously as the first commander of the 3520th Combat Crew Training Wing and Wichita Air Force Base (5 June 1951 – 1 November 1953). Later rising to the rank of Major General, Spicer would move on to command Seventeenth Air Force twice and retired as the commander of 25th Air Division.       
            </p>
          </div>
          <div class="icon">
            <span class="year">1951</span>
          </div>
        </div>

        <div class="timeline">
          <span class="timeline-icon"></span>
          <div class="timeline-content">
            <!-- <h3 class="title">Dolor Sir Amet</h3> -->
            <div class="img text-center">
              <img src="../assets/timeline/mcconnellswwii.png" class="img-fluid img-thumbnail">
            </div>
            <p class="description">
              Originally named Wichita Air Force Base, on 15 May 1954 a dedication ceremony was held renaming the base in honor of the McConnell Brothers.  Nicknamed “The Flying McConnell Brothers,” Fred, Thomas and Edwin all served in the Pacific Theater during WWII. The base was originally dedicated to the two eldest brothers, Fed and Thomas, who passed away in aircraft collisions in October 1945 and April 1943, respectively. The youngest brother, Edwin, passed away in September 1997 and his name was added beside his brothers in a re-dedication ceremony held on 14 June 1999.  
            </p>
          </div>
          <div class="icon">
            <span class="year">1954</span>
          </div>
        </div>

        <div class="timeline">
            <span class="timeline-icon"></span>
            <div class="timeline-content">
              <!-- <h3 class="title">Dolor Sir Amet</h3> -->
              <div class="img text-center">
                <img src="../assets/timeline/b47.png" class="img-fluid img-thumbnail">
              </div>
              <p class="description">
                  From 5 June 1951 to 15 June 1963 McConnell Air Force Base hosted the U.S. Air Force’s only B-47 Stratojet training program.  Produced at the Boeing Wichita production facility located across the flight line, the newest jet-powered bomber served as one of Strategic Air Command’s primary alert response assets in the early years of the Cold War. The 3520th and 4347th Combat Crew Training Wings’ instructed thousands of combat-ready aircrews and maintainers in B-47 operations.  
              </p>
            </div>
            <div class="icon">
              <span class="year">1951-1963</span>
            </div>
          </div>

        <div class="timeline">
          <span class="timeline-icon"></span>
            <div class="timeline-content">
              <!-- <h3 class="title">Dolor Sir Amet</h3> -->
              <div class="img text-center">
                <img src="../assets/timeline/f105.png" class="img-fluid img-thumbnail">
              </div>
              <p class="description">
                  The 23rd, 355th and 388th Tactical Fighter Wings’ (TFW) were stationed at McConnell Air Force Base for a decade (October 1962 – June 1972). The 355th and 388 TFWs stayed briefly (Jul 64 – Oct 65 and Oct 62 – Feb 64, respectively) before moving overseas to directly support contingency operations in Southeast Asia. The 23 TFW (Jul 64 – Jun 72) trained replacement aircrews to meet requirements for overseas taskings.     
              </p>
            </div>
          <div class="icon">
            <span class="year">1962-1972</span>
          </div>
        </div>

        <div class="timeline">
            <span class="timeline-icon"></span>
            <div class="timeline-content">
              <!-- <h3 class="title">Dolor Sir Amet</h3> -->
              <div class="img text-center">
                <img src="../assets/timeline/titan2.png" class="img-fluid img-thumbnail">
              </div>
              <p class="description">
                  Calling McConnell Air Force Base home for 24 years (1 March 1962 – 8 August 1986), the 381st Strategic Missile Wing operated the Titan II Intercontinental Ballistic Missile.  Spanning 18 missile silos across the state of Kansas, the wing maintained a constant alert status.  
              </p>
            </div>
            <div class="icon">
                <span class="year">1962-1986</span>
            </div>
          </div>

          <div class="timeline">
              <span class="timeline-icon"></span>
              <div class="timeline-content">
                <!-- <h3 class="title">Dolor Sir Amet</h3> -->
                <div class="img text-center">
                  <img src="../assets/timeline/b1.png" class="img-fluid img-thumbnail">
                </div>
                <p class="description">
                    Flying KC-135 Stratotankers, the 384th Air Refueling Wing served at McConnell Air Force Base from 1 December 1972 through 1987 where the unit redesignated as the 384th Bombardment Wing (Heavy) and added the B-1 Lancer bomber to its inventory.  A B-1 is seen here on the flight line sometime in the early 1990s.  
                </p>
              </div>
              <div class="icon">
                  <span class="year">1972-1987</span>
              </div>
            </div>

            <div class="timeline">
                <span class="timeline-icon"></span>
                <div class="timeline-content">
                  <!-- <h3 class="title">Dolor Sir Amet</h3> -->
                  <div class="img text-center">
                    <img src="../assets/timeline/elephantWalk.png" class="img-fluid img-thumbnail">
                  </div>
                  <p class="description">
                      Known as an “Elephant Walk,” 14 KC-135 Stratotankers line the runway on McConnell Air Force Base on 24 March 2016. The KC-135 has served at McConnell since December 1972.  The tankers supported numerous global contingencies and operations.           
                  </p>
                </div>
                <div class="icon">
                    <span class="year">1972-Now</span>
                </div>
              </div>

      </div>
    </div>
  </div>
</div>