<div class="container-fluid timeline-container">
  <div class="row">
    <div class="col">
        <h3>Milestones in Flight</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline">
        <div class="timeline">
          <span class="timeline-icon"></span>
          <div class="timeline-content">
            <h3 class="title">Web Desginer</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam accumsan ornare posuere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis ullam nulla excepturi asperiores deserunt maiores, est nostrum voluptas! Mollitia enim eius voluptatibus, itaque sit perferendis commodi architecto voluptatum voluptates? Lorem ipsum dolor sit amet consectetur adipisicing elit. At fuga, repellat ducimus delectus unde ab ad aperiam architecto. Quo fugit culpa doloremque blanditiis, soluta impedit excepturi provident sit optio assumenda?
            </p>
          </div>
          <div class="icon">
            <i class="fa fa-globe"></i>
            <span class="year">2017</span>
          </div>
        </div>
        <div class="timeline">
          <span class="timeline-icon"></span>
          <div class="timeline-content">
            <h3 class="title">Web Developer</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam accumsan ornare posuere.
            </p>
          </div>
          <div class="icon">
            <i class="fa fa-rocket"></i>
            <span class="year">2016</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>