<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a routerLink="" class="navbar-brand">
    <img src="../../assets/airshow_logo.png" width="30" height="30" class="d-inline-block align-top" alt="Airshow Logo">&nbsp;&nbsp;&nbsp;Frontiers in Flight
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a routerLink="performers" class="nav-link" routerLinkActive="active"><i class="fas fa-fighter-jet"></i> Performers</a>
      </li>

      <li class="nav-item">
        <a routerLink="schedules" class="nav-link" routerLinkActive="active"><i class="fas fa-clock"></i> Schedules</a>
      </li>

      <li class="nav-item">
        <a routerLink="maps" class="nav-link" routerLinkActive="active"><i class="fas fa-map"></i> Maps</a>
      </li>

      <li class="nav-item">
        <a routerLink="exhibits" class="nav-link" routerLinkActive="active"><i class="fas fa-lightbulb"></i> Exhibits</a>
      </li>

      <li class="nav-item">
        <a routerLink="sponsors" class="nav-link" routerLinkActive="active"><i class="fas fa-hands-helping"></i> Sponsors</a>
      </li>

      <li class="nav-item">
        <a routerLink="faqs" class="nav-link" routerLinkActive="active"><i class="fas fa-question"></i> FAQs</a>
      </li>

    </ul>

    <span class="navbar-text">
      <a href="https://www.google.com/maps/place/McConnell+AFB+Visitor's+Center/@37.6426253,-97.2468079,17z/data=!4m5!3m4!1s0x87bafb3da9ad7d4b:0x3c346964b721d9d7!8m2!3d37.6422278!4d-97.2459092" target="_blank" rel="noopener"><i class="fas fa-map-marker-alt"></i> McConnell AFB</a>
      <span style="color: grey">&nbsp;|&nbsp;</span>
      <a href="https://www.airforce.com/" target="_blank" rel="noopener">Join the Air Force</a>
    </span>

  </div>
</nav>