$light-blue: #23a5cb;
$dark-blue: #117cad;

.navbar-text {
    a:hover {
        text-decoration: none;
    }
}

.navbar {
    // background-color: $dark-blue !important;
    background-color: transparent !important;
    z-index: 5;

}