<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="" class="navbar-brand">
    <img src="../../assets/airshow_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;Frontiers in Flight
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a routerLink="performers" class="nav-link" routerLinkActive="active"><i class="fas fa-fighter-jet"></i> Performers</a>
      </li>

      <li class="nav-item">
        <a routerLink="schedules" class="nav-link" routerLinkActive="active"><i class="fas fa-clock"></i> Schedules</a>
      </li>

      <li class="nav-item">
        <a routerLink="maps" class="nav-link" routerLinkActive="active"><i class="fas fa-map"></i> Maps</a>
      </li>

      <li class="nav-item">
        <a routerLink="exhibits" class="nav-link" routerLinkActive="active"><i class="fas fa-lightbulb"></i> Exhibits</a>
      </li>

      <li class="nav-item">
        <a routerLink="faqs" class="nav-link" routerLinkActive="active"><i class="fas fa-question"></i> FAQs</a>
      </li>
    </ul>

    <span class="navbar-text">
      <a href="https://goo.gl/maps/G7miXA2nimy" target="_blank"><i class="fas fa-map-marker-alt"></i> McConnell AFB, KS</a>
    </span>

  </div>
</nav>