<div class="header">
  <img src="../../assets/banner1.png" class="img-fluid">
  <div class="center">Sponsors</div>
</div>

<div class="container sponsor">
  <div class="row">
    <div class="col col-md-6 offset-md-3 text-center">
      <p>Thank you to our 2018 sponsors who contribute to the Air Show. The success of this event is dependent on sponsors and the support of local businesses. Thanks to our sponsors McConnell can bring this inspiring, patriotic and memorable aviation event to Wichita.</p>
    </div>
  </div>
</div>
<app-sponsordisplay></app-sponsordisplay>
