<div class="header">
  <img src="../../assets/banner4.jpg" class="img-fluid" alt="KC-135 Elephant Walk">
  <div class="center">
    <i class="fas fa-hands-helping"></i> Sponsors</div>
</div>

<div class="container sponsor">
  <div class="row" style="margin-bottom: 2em;">
    <div class="col text-center">
      <h3>Thank you for your interest in sponsoring Frontiers in Flight. The closing date for air show sponsorship was 6 August,
        2018. To sponsor ongoing events and programs at McConnell, e-mail
        <a href="mailto:Cheryl.Kellogg@us.af.mil">Cheryl.Kellogg@us.af.mil</a> or call
        <a href="tel:3167594348">316-759-4348</a> for details.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-4 offset-sm-4 text-center">
      <a href="../../assets/FrontiersInFlightSponsorship.pdf" target="_blank">
        <img class="img-fluid" src="../../assets/FrontiersInFlightSponsorshipCoverImage.png" alt="Click here to learn more about sponsorship opportunities.">Click here to learn more about sponsorship opportunities.
      </a>
    </div>
  </div>
</div>
<app-sponsordisplay></app-sponsordisplay>