$light-blue: #2493c6;
$dark-blue: #0e68a3;
$light-brown: #e6af3d;
$crimson: #e01021;

#premium-seating{
    background-image: url("../../assets/seating.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    padding-top: 10%;
    padding-bottom: 3em;
    min-height: 100vh;

    color: white;

    .btn {
        margin: 2em;
    }

    .disclaimer {
        font-size: .75em;
        color: gray;
    }
}