<div class="container-fluid" id="premium-seating">
  <div class="row">
    <div class="col col-sm-6 offset-sm-3 text-center">
      <h1>Premium Seating Option</h1><br>
      <p><strong>EXPERIENCE FRONTIERS IN FLIGHT FROM OUR BOX SEATING AREA!!</strong></p>
      <p>
        Enjoy one of the best seats in the house with a “Box Seating” ticket. All seats are first come first serve and put you right up on the flight line in a private section.
      </p>
      <p>These seats are sure to sell out. Buy your ticket in advance.</p>
      <p>$25.00 in advance/$30.00 day of</p>
      <a class="btn btn-primary" href="https://www.etix.com/ticket/v/13701/mcconnell-air-force-base?cobrand=FrontiersInFlight" role="button">Purchase Tickets</a>
      <p class="disclaimer">
          ***This area is not shaded
          ***Children 4 and under sitting on laps do not require ticket
          ***No refunds
      </p>
    </div>
  </div>
</div>