<div class="container-fluid text-center" id="premium-seating">
  <div class="row">
    <div class="col">
      <h1>Premium Seating Options</h1><br>
      <p><strong>EXPERIENCE FRONTIERS IN FLIGHT FROM OUR BEST SEATS IN THE HOUSE!</strong></p>
    </div>
  </div>
  <div class="row" style="padding-top: 3em;">
    <div class="col col-sm-6 col-md-4 col-lg-3 offset-md-2 offset-lg-3">
      
      <div class="seating-option">
        <h2>Chalets</h2>
        <p>
          Chalets and Hospitality Tents are a reserved area at center stage with front row views along the flight line. Enjoy covered and patio seating with amenities such as catered food, cash bar, designated restrooms and more.
        </p>
        <a class="btn btn-primary" href="../../assets/FrontiersInFlight_Chalets.pdf" target="_blank" role="button" rel="noopener">Chalet Details</a>
      </div>

    </div>
    <div class="col col-sm-6 col-md-4 col-lg-3">

      <div class="seating-option">
        <h2>Box Seating</h2>
        <p>
          Box seating tickets are first come first serve and put you right up on the flight line in a private section. These are sure to sell out. Buy your ticket in advance. $25.00 in advance/$30.00 day of.
        </p>
        <a class="btn btn-primary" href="https://www.etix.com/ticket/v/13701/mcconnell-air-force-base?cobrand=FrontiersInFlight" role="button" rel="noopener">Purchase Tickets</a>
        <p class="disclaimer">
          This area is not shaded<br>
          Children 4 and under sitting on laps do not require a ticket<br>
          No refunds
        </p>
      </div>

    </div>
  </div>
</div>