<div class="header">
  <img src="../../assets/banner1.png" class="img-fluid">
  <div class="center"><i class="fas fa-clock"></i> Schedules</div>
</div>

<div class="container schedule">
  <div class="row text-center">

    <div class="col-md-6">
      <h5>September 8th</h5>
      <h6>Open House</h6>
      <p>Gates open 9:00 am CST</p>
      <p>Gates close 4:30 pm CST</p>
    </div>

    <div class="col-md-6">
      <h5>September 9th</h5>
      <h6>Open House</h6>
      <p>Gates open 9:00 am CST</p>
      <p>Gates close 4:30 pm CST</p>
     </div>
  
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3" id="disclaimer">
      <h3>disclaimer</h3>
      <p>
        Unfortunately, the sequence is not solidified until the morning of the Airshow to allow
        for security, safety, weather, and operational concerns. Thank you for your patience.
      </p>
    </div>
  </div>
</div>
