<div class="header">
  <img src="https://picsum.photos/1000/300/?random" class="img-fluid">
  <div class="center"><i class="fas fa-clock"></i> Schedule</div>
</div>

<div class="container schedule">
  <div class="row">
    <div class="col-md-4">
      <div class="day day1">
        <h5>September 7th</h5>
        <h6>Card Holders only</h6>
        <ul>
          <li>Gates open 10:00 am CST</li>
          <li>Gates close 4:30 pm CST</li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="day day2">
        <h5>September 8th</h5>
        <h6>Open House</h6>
        <ul>
          <li>Gates open 10:00 am CST</li>
          <li>Gates close 4:30 pm CST</li>
        </ul>
        
      </div>
    </div>

    <div class="col-md-4">
      <div class="day day3">
       <h5>September 9th</h5>
       <h6>Open House</h6>
       <ul>
          <li>Gates open 10:00 am CST</li>
          <li>Gates close 4:30 pm CST</li>
        </ul>
      </div>
     </div>
  
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 disclaimer">
      <h3>disclaimer</h3>
      <p>
        Unfortunately, the sequence is not solidified until the morning of the Airshow to allow
        for security, safety, weather, and operational concerns. Thank you for your patience.
      </p>
    </div>
  </div>
</div>
