<div class="container performers">
  <div class="row">
    <div class="col">
      <h2>Performers</h2>
    </div>
  </div>
  <div class="row">


    <div class="col">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/500/500/?random" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Thunder Birds</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/500/500/?random" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Golden Knights</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/500/500/?random" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Redline Airshows</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/500/500/?random" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Brian Correll Airshows</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/500/500/?random" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Scott Francis Airshows</p>
          </div>
        </div>
      </a> 
    </div>

    <div class="col">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/500/500/?random" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Smoke And Thunder</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/500/500/?random" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Tora Tora Tora</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/500/500/?random" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Fighter Jets Inc.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/500/500/?random" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Vampire Airshow</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/500/500/?random" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Greg Shelton Airshows</p>
          </div>
        </div>
      </a>
    </div>
  
    <div class="col">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/500/500/?random" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Kent Piech Airshows</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/500/500/?random" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Acemaker Airshows</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/500/500/?random" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">C-17 Demo by 97 OSS</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/500/500/?random" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">And more to come!</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>