$light-blue: #2493c6;
$dark-blue: #0e68a3;
$light-brown: #e6af3d;
$crimson: #e01021;

.performers {
    padding-top: 5em;
    padding-bottom: 2em;
    background-color: $dark-blue;


    // if the background image is too much, remove these background image properties.
    @media screen and (min-width: 768px) {
        background-image: url(../../assets/runway.png);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

.card {
    min-width: 18rem;
    margin-bottom: 2em;
    color: black;
    &:hover {
        filter: drop-shadow(1px 1px 2px black);
    }
}

@media screen and (min-width: 768px) {
    .card {
        max-width: 18rem;
    }
}

a {
    text-decoration: none;
}

.header {
    margin-top: 3em;
    position: relative;

    img {
        width: 100%;
        min-height: 200px;
        -webkit-filter: brightness(0.4);
        filter: brightness(0.4);
    }

    .center {
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        color: white;
        border: 5px solid white;
        border-radius: 5px;
        padding: 10px;

        @media screen and (max-width: 904px) {
            font-size: 2em;
        }

        @media screen and (max-width: 614px) {
            font-size: 1em;
        }
    }
}

//IE 11, why you make me do this?
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
//     /* IE10+ specific styles go here */ 

    .card {
        .card-img-top {
            height: 20rem;
        }

        &:hover{
            -webkit-box-shadow:1px 1px 19px 2px rgba(0,0,0,0.75);
            box-shadow:1px 1px 19px 2px rgba(0,0,0,0.75);
        }
    }
   
    .header::before {
        position: absolute;
        display: block;
        height:100%;
        width:100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        content:"";
        /*adjust brightness here */
        background: hsla(0, 0%, 0%, .6); 
    }
    .center{
        z-index: 3;
    }
 }
