<div class="header">
    <img src="../../assets/banner1.jpg" class="img-fluid" alt="jets flying in formation">
    <div class="center"><i class="fas fa-fighter-jet"></i> Performers</div>
</div>

<div class="container-fluid performers">

  <div class="card-deck justify-content-center"> 

      <a href="http://afthunderbirds.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/thunderBirds.png" alt="Thunderbirds">
          <div class="card-body">
            <p class="card-text">Thunderbirds</p>
          </div>
        </div>
      </a>

      <a href="https://www.goarmy.com/events/golden-knights.html">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/goldenKnights.png" alt="Golden Knights">
          <div class="card-body">
            <p class="card-text">Golden Knights</p>
          </div>
        </div>
      </a>

      <a href="http://www.redlineairshows.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/redline.png" alt="Redline Airshows">
          <div class="card-body">
            <p class="card-text">Redline Airshows</p>
          </div>
        </div>
      </a>

      <a href="http://briancorrellairshows.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/BCAirshows.png" alt="Brian Correll Airshows">
          <div class="card-body">
            <p class="card-text">Brian Correll Airshows</p>
          </div>
        </div>
      </a>

      <a href="https://www.scottfrancisairshows.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/scottFrancis.png" alt="Scott Francis Airshows">
          <div class="card-body">
            <p class="card-text">Scott Francis Airshows</p>
          </div>
        </div>
      </a> 

      <a href="http://www.smoke-n-thunder.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/smokenThunder.png" alt="Smoke N Thunder">
          <div class="card-body">
            <p class="card-text">Smoke N Thunder</p>
          </div>
        </div>
      </a>

      <a href="http://www.toratoratora.com/home.html">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/tora.png" alt="Tora Tora Tora">
          <div class="card-body">
            <p class="card-text">Tora Tora Tora</p>
          </div>
        </div>
      </a>

      <a href="http://fighterjets.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/fighterjetinc.png" alt="Fighter Jets Inc.">
          <div class="card-body">
            <p class="card-text">Fighter Jets Inc.</p>
          </div>
        </div>
      </a>

      <a href="https://vampireairshows.simdif.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/vampire.png" alt="Vampire Airshows">
          <div class="card-body">
            <p class="card-text">Vampire Airshows</p>
          </div>
        </div>
      </a>

      <a href="http://www.gregsheltonairshows.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/gregShelton.png" alt="Greg Shelton Airshows">
          <div class="card-body">
            <p class="card-text">Greg Shelton Airshows</p>
          </div>
        </div>
      </a>
  
      <a href="http://www.kentpietschairshows.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/kent.png" alt="Kent Pietsch Airshows">
          <div class="card-body">
            <p class="card-text">Kent Pietsch Airshows</p>
          </div>
        </div>
      </a>

      <a href="https://www.acemaker33.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/aceMaker.png" alt="Ace Maker Airshows">
          <div class="card-body">
            <p class="card-text">Ace Maker Airshows</p>
          </div>
        </div>
      </a>

      <div class="card">
        <img class="card-img-top" src="../../assets/performers/a-10.png" alt="A-10 Warthog">
        <div class="card-body">
          <p class="card-text">A-10 Flyby</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="../../assets/performers/c-17.png" alt="C-17 Taking Off">
        <div class="card-body">
          <p class="card-text">C-17 Demo</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="../../assets/performers/kc-135.png" alt="KC-135R">
        <div class="card-body">
          <p class="card-text">KC-135 Demo</p>
        </div>
      </div>

  </div>

</div>
