<div class="header">
    <img src="../../assets/banner1.png" class="img-fluid">
    <div class="center"><i class="fas fa-fighter-jet"></i> Performers</div>
</div>

<div class="container-fluid performers">

  <div class="card-deck justify-content-center"> 

      <a href="http://afthunderbirds.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/thunderBirds.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Thunder Birds</p>
          </div>
        </div>
      </a>

      <a href="https://www.goarmy.com/events/golden-knights.html">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/goldenKnights.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Golden Knights</p>
          </div>
        </div>
      </a>

      <a href="http://www.redlineairshows.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/redline.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Redline Airshows</p>
          </div>
        </div>
      </a>

      <a href="http://briancorrellairshows.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/BCAirshows.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Brian Correll Airshows</p>
          </div>
        </div>
      </a>

      <a href="https://www.scottfrancisairshows.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/scottFrancis.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Scott Francis Airshows</p>
          </div>
        </div>
      </a> 

      <a href="http://www.smoke-n-thunder.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/smokenThunder.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Smoke N Thunder</p>
          </div>
        </div>
      </a>

      <a href="http://www.toratoratora.com/home.html">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/tora.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Tora Tora Tora</p>
          </div>
        </div>
      </a>

      <a href="http://fighterjets.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/fighterjetinc.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Fighter Jets Inc.</p>
          </div>
        </div>
      </a>

      <a href="https://vampireairshows.simdif.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/vampire.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Vampire Airshows</p>
          </div>
        </div>
      </a>

      <a href="http://www.gregsheltonairshows.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/gregShelton.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Greg Shelton Airshows</p>
          </div>
        </div>
      </a>
  
      <a href="http://www.kentpietschairshows.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/kent.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Kent Pietsch Airshows</p>
          </div>
        </div>
      </a>

      <a href="https://www.acemaker33.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/aceMaker.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Ace Maker Airshows</p>
          </div>
        </div>
      </a>

      <a href="https://www.danbuchananairshows.com/">
        <div class="card">
          <img class="card-img-top" src="../../assets/performers/danBuchanan.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Dan Buchanan Airshows</p>
          </div>
        </div>
      </a>

  </div>

  <!-- <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../assets/performers/aceMaker.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/performers/aceMaker.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/performers/aceMaker.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
      </div>
    </div>
  </div> -->



</div>