<div class="header">
    <img src="../../assets/banner1.png" class="img-fluid">
    <div class="center"><i class="fas fa-lightbulb"></i> Exhibits</div>
</div>
<div class="container-fluid exhibits">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="text-center">
        <h2>Air Show Exhibitors</h2>
      </div>

      <div id="accordionZero">

        <div class="card">
            <div class="card-header" id="headingZero" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
              <h5 class="mb-0">
                <button class="btn btn-link">
                  City of Derby
                </button>
              </h5>
            </div>
        
            <div id="collapseZero" class="collapse show" aria-labelledby="headingZero" data-parent="#accordionZero">
              <div class="card-body">
                Large enough to have all the amenities you need, yet still small enough to feel like home - Derby truly is the place to be. This is a place where you can raise your family, grow your business, and retire in a community you'll love forever. <a href="http://www.derbyweb.com/">Learn more.</a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingZero3" data-toggle="collapse" data-target="#collapseZero3" aria-expanded="false" aria-controls="collapseZero3">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed">
                  Cosmosphere
                </button>
              </h5>
            </div>
            <div id="collapseZero3" class="collapse" aria-labelledby="headingZero3" data-parent="#accordionZero">
              <div class="card-body">
                <p>The Cosmosphere International Science Education Center & Space Museum located in Hutchinson, KS, features the largest combined collection of U.S. and Russian space artifacts in the world, which allows the Cosmosphere to tell the story of the Space Race better than any other museum.</p>
  
                <p>Visitors to the Cosmosphere can see rocket science brought to life with a bang in Dr. Goddard’s Lab; see documentaries daily and recently-released feature films on weekends in the Carey Digital Dome Theater and gain new insight into the universe in the Cosmosphere’s state-of-the-art Planetarium.  Every third Saturday, the Cosmosphere offers Space Out Saturday, a free, family-friendly event with hands-on science demonstrations, special kid-friendly tours of the museum and more.</p>
  
                <p>Cosmosphere Aerospace summer camps and year-round STEM education opportunities meet Next Generation Science and Common Core curriculum standards, foster teamwork, leadership and critical thinking skills and introduce students to the power of wondering—asking the critical questions that lead to discovery.</p>
  
                <p>Visit www.cosmo.org for more information or to see a schedule of upcoming events.
  
                <a href="http://cosmo.org/">Learn more.</a></p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingZero1" data-toggle="collapse" data-target="#collapseZero1" aria-expanded="true" aria-controls="collapseZero1">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed">
                  Embry-Riddle Aeronautical University
                </button>
              </h5>
            </div>
        
            <div id="collapseZero1" class="collapse" aria-labelledby="headingZero1" data-parent="#accordionZero">
              <div class="card-body">
                Embry-Riddle Aeronautical University, the world's largest, fully accredited university specializing in aviation and aerospace offers flexible online degrees and on-campus programs internationally. <a href="https://worldwide.erau.edu/">Learn more.</a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingZero2" data-toggle="collapse" data-target="#collapseZero2" aria-expanded="true" aria-controls="collapseZero2">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed">
                  J. Bias Real Estate Group
                </button>
              </h5>
            </div>
        
            <div id="collapseZero2" class="collapse" aria-labelledby="headingZero2" data-parent="#accordionZero">
              <div class="card-body">
                Buying your dream home is easier than ever. Contact us today to find out how we can help you find the perfect home! <a href="http://www.wesellks.com/">Learn more.</a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingZero6" data-toggle="collapse" data-target="#collapseZero6" aria-expanded="true" aria-controls="collapseZero6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed">
                  Spirit AeroSystems
                </button>
              </h5>
            </div>
        
            <div id="collapseZero6" class="collapse" aria-labelledby="headingZero6" data-parent="#accordionZero">
              <div class="card-body">
                We produce large aerostructures and components of the world’s premier aircraft. Spirit AeroSystems designs and builds aerostructures for both commercial and defense customers. With headquarters in Wichita, Kansas, Spirit operates sites in North America, Europe and Asia. Our core products include fuselages, pylons, nacelles and wing components. We focus on affordable, innovative composite and aluminum manufacturing solutions to support customers around the globe. <a href="http://www.spiritaero.com/">Learn more.</a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingZero5" data-toggle="collapse" data-target="#collapseZero5" aria-expanded="true" aria-controls="collapseZero5">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed">
                  Sylvania Auto Light
                </button>
              </h5>
            </div>
        
            <div id="collapseZero5" class="collapse" aria-labelledby="headingZero5" data-parent="#accordionZero">
              <div class="card-body">
                At OSRAM SYLVANIA, your complete satisfaction is our business. Our SYLVANIA SilverStar® brand bulbs are high performance products that may require replacement at more frequent intervals than original equipment manufacturer parts. <a href="https://www.sylvania-automotive.com/">Learn more.</a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingZero4" data-toggle="collapse" data-target="#collapseZero4" aria-expanded="true" aria-controls="collapseZero4">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed">
                  T-Mobile
                </button>
              </h5>
            </div>
        
            <div id="collapseZero4" class="collapse" aria-labelledby="headingZero4" data-parent="#accordionZero">
              <div class="card-body">
                As America's Un-carrier, T-Mobile US, Inc. (NASDAQ: TMUS) is redefining the way consumers and businesses buy wireless services through leading product and service innovation. Our advanced nationwide 4G LTE network delivers outstanding wireless experiences to 72.6 million customers who are unwilling to compromise on quality and value. Based in Bellevue, Washington, T-Mobile US provides services through its subsidiaries and operates its flagship brands, T-Mobile and MetroPCS. <a href="https://www.t-mobile.com/">Learn more.</a>
              </div>
            </div>
          </div>


        </div>


      <!-- This just marks separation between paying and STEM exhibitors --><br><br>

      <div class="text-center">
        <h2>STEM Exhibits</h2>
        <h5>Provided By</h5>
      </div>
      <div id="accordion">

        <div class="card">
          <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5 class="mb-0">
              <button class="btn btn-link">
                U.S. Air Force Space Command
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Air Force Space Command, activated Sept. 1, 1982, is a major command with headquarters at Peterson Air Force Base, Colo. AFSPC provides military focused space and cyberspace capabilities with a global perspective to the joint warfighting team. <a href="http://www.afspc.af.mil/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                U.S. Army Corps of Engineers
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              The U.S. Army Corps of Engineers has approximately 37,000 dedicated Civilians and Soldiers delivering engineering services to customers in more than 130 countries worldwide.

              With environmental sustainability as a guiding principle, our disciplined Corps team is working diligently to strengthen our Nation’s security by building and maintaining America’s infrastructure and providing military facilities where our servicemembers train, work and live. We are also researching and developing technology for our war fighters while protecting America’s interests abroad by using our engineering expertise to promote stability and improve quality of life.

              We are energizing the economy by dredging America’s waterways to support the movement of critical commodities and providing recreation opportunities at our campgrounds, lakes and marinas.

              And by devising hurricane and storm damage reduction infrastructure, we are reducing risks from disasters.

              Our men and women are protecting and restoring the Nation’s environment including critical efforts in the Everglades, the Louisiana coast, and along many of our Nation’s major waterways.  The Corps is also cleaning sites contaminated with hazardous, toxic or radioactive waste and material in an effort to sustain the environment.

              Through deeds, not words, we are BUILDING STRONG. <a href="http://www.usace.army.mil/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading3" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                Cosmosphere
              </button>
            </h5>
          </div>
          <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
            <div class="card-body">
              <p>The Cosmosphere International Science Education Center & Space Museum located in Hutchinson, KS, features the largest combined collection of U.S. and Russian space artifacts in the world, which allows the Cosmosphere to tell the story of the Space Race better than any other museum.</p>

              <p>Visitors to the Cosmosphere can see rocket science brought to life with a bang in Dr. Goddard’s Lab; see documentaries daily and recently-released feature films on weekends in the Carey Digital Dome Theater and gain new insight into the universe in the Cosmosphere’s state-of-the-art Planetarium.  Every third Saturday, the Cosmosphere offers Space Out Saturday, a free, family-friendly event with hands-on science demonstrations, special kid-friendly tours of the museum and more.</p>

              <p>Cosmosphere Aerospace summer camps and year-round STEM education opportunities meet Next Generation Science and Common Core curriculum standards, foster teamwork, leadership and critical thinking skills and introduce students to the power of wondering—asking the critical questions that lead to discovery.</p>

              <p>Visit www.cosmo.org for more information or to see a schedule of upcoming events.

              <a href="http://cosmo.org/">Learn more.</a></p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading4" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                Botanica
              </button>
            </h5>
          </div>
          <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
              We are a community garden that provides education for all ages. In the heart of Wichita enjoy our beautiful gardens all year. <a href="https://botanica.org/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading5" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                Great Plains Nature Center
              </button>
            </h5>
          </div>
          <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
            <div class="card-body">
              Provides opportunities to the public to learn about natural resources, especially the wildlife and plant species, of the Great Plains Region. <a href="http://gpnc.org/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading6" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                Wichita State University
              </button>
            </h5>
          </div>
          <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
            <div class="card-body">
              Wichita State University, a public state university in the Kansas Board of Regents system, is a growing leader in innovation, creativity and collaborative learning. Its 15000 students study business, education, engineering, fine arts, health professions, and liberal arts and sciences at the undergraduate and graduate levels. <a href="http://www.wichita.edu/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading7" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                Kansas State University
              </button>
            </h5>
          </div>
          <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
            <div class="card-body">
              It doesn't matter if you ask a long-time professor, recent graduate, passionate alum or a fresh-eyed freshman. Pick a member of the K-State community at random and ask him or her what it means to be a Wildcat, and you will most likely get a one-word answer:  Family. <a href="https://www.k-state.edu/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading8" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                Butler Community College
              </button>
            </h5>
          </div>
          <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
            <div class="card-body">
              Established in 1927 and located in Kansas, Butler has recently celebrated its 90th year in higher education. With a proud tradition in academics, athletics and service to the communities it serves, Butler touches the lives of more than 13,000 students annually. Come to Butler and learn how we can help you take tomorrow. <a href="https://www.butlercc.edu/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading9" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                Embry-Riddle Aeronautical University
              </button>
            </h5>
          </div>
          <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
            <div class="card-body">
              Embry-Riddle Aeronautical University, the world's largest, fully accredited university specializing in aviation and aerospace offers flexible online degrees and on-campus programs internationally. <a href="https://worldwide.erau.edu/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading9a" data-toggle="collapse" data-target="#collapse9a" aria-expanded="false" aria-controls="collapse9a">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                Society for Women Engineers
              </button>
            </h5>
          </div>
          <div id="collapse9a" class="collapse" aria-labelledby="heading9a" data-parent="#accordion">
            <div class="card-body">
              The Society of Women Engineers Wichita area section was chartered in 1982 by a dynamic group of eight women, and has since grown to over 50 members. We are a non-profit organization of made up of both men and women who are dedicated to making known the need for women engineers and encouraging young women to consider an engineering education. Our local section strives to create a balanced environment that blends our members personal and professional lives. <a href="https://wichitaswe.org/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading10" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                Friends University
              </button>
            </h5>
          </div>
          <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
            <div class="card-body">
              Faith. Friends. Future. Three simple words that will sum up your experience at Friends University. We welcome you to a learning community where you can explore your faith, create lifelong friendships and develop skills for the career of your choosing. Join us! <a href="https://www.friends.edu/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading11" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                Ft Hays State University
              </button>
            </h5>
          </div>
          <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
            <div class="card-body">
              Fort Hays State University is the fastest growing of the Kansas Board of Regents universities. It is located in Hays, Kansas, and is a state, tax-assisted institution. <a href="https://www.fhsu.edu/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading12" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                Spirit Aerosystems
              </button>
            </h5>
          </div>
          <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
            <div class="card-body">
              We produce large aerostructures and components of the world’s premier aircraft.
              Spirit AeroSystems designs and builds aerostructures for both commercial and defense customers. With headquarters in Wichita, Kansas, Spirit operates sites in North America, Europe and Asia. Our core products include fuselages, pylons, nacelles and wing components. We focus on affordable, innovative composite and aluminum manufacturing solutions to support customers around the globe. <a href="http://www.spiritaero.com/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading13" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                Wolters Kluwer
              </button>
            </h5>
          </div>
          <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
            <div class="card-body">
              A global company that provides information, software, and services to professionals in four main areas: healthcare, tax, law and finance, that allows them to make decisions with confidence. <a href="https://wolterskluwer.com/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading14" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                KSN Weather
              </button>
            </h5>
          </div>
          <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion">
            <div class="card-body">
              Local News. Here For You. <a href="http://www.ksn.com/weather">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading15" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                USD 259 - Wichita
              </button>
            </h5>
          </div>
          <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
            <div class="card-body">
              Inspiring future leaders and empowering each student with the 21st century skills and knowledge necessary for success drive "Team 259" toward greatness every day. Wichita Public Schools provides unparalleled opportunities for students - in the classroom; by participation in service and extra-curricular activities; because of extraordinary and safe school facilities; regardless of ability, language needs, background.

              WPS is the largest school district in Kansas, educating approximately 11 percent of all public school students in the state of Kansas, and more than half of all school-aged children in Sedgwick County. 

              We are proud of our award-winning schools, outstanding teachers and staff, accomplished students, and committed parents and volunteers. WPS serves students in 94 schools and special program locations, employing nearly 10,000 dedicated professionals. <a href="https://www.usd259.org/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading16" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                USD 260 - Derby
              </button>
            </h5>
          </div>
          <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordion">
            <div class="card-body">
              The mission of Derby Public Schools is to create a tomorrow that is better than today by ensuring all students continually grow and learn. <a href="http://www.derbyschools.com/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading17" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                USD 266 - Maize
              </button>
            </h5>
          </div>
          <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordion">
            <div class="card-body">
              Our vision for a united school district began as a collective goal among Maize USD 266 administrative staff members at the beginning of the 2015-16 year. It since has inspired student artwork, charitable cooperation, a flash mob, and more.

              From Eagles and Mavericks collaborating on fundraising community projects to high school students helping in our preschool classrooms, we are stronger together.

              Thank you for your support, and please use the hashtag #OneMa1ze on social media to be a part of our story! <a href="https://www.usd266.com/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading18" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                USD 265 - Goddard
              </button>
            </h5>
          </div>
          <div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordion">
            <div class="card-body">
              <p>From the first graduating class in 1918, Goddard Public Schools has proven itself a leader in educational excellence. More than 87% of our students continue their education in college or vocational training. Our students are recognized by the college community for the excellent scholastic preparation provided by Goddard Public Schools — recognition that is verified by thousands of dollars in scholarships and awards granted our graduates each year.</p>
              <a href="https://www.goddardusd.com/">Learn more.</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading19" data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed">
                SIM Club
              </button>
            </h5>
          </div>
          <div id="collapse19" class="collapse" aria-labelledby="heading19" data-parent="#accordion">
            <div class="card-body">
              <p>The F-4D Phantom and B52G Flight simulators are locally owned maintained by Nu-Tek Aircraft Instruments, Inc.</p>

              <p>The F-4D Phantom formerly assigned to the KANG 184th Training Wing 1979-91. This F-4 simulator has front and back seats each crewman will have an opportunity takeoff or land during the 10 min session. Cost is $25 for 1 or 2 person session. Reservations required during the air show.</p> 

              <p>The B-52G Stratofortress is amazingly immersive with wide its five monitor cross cockpit visual system. Its side by side  with room for one observer. Flights available are 15 and 30 minutes sessions. Cost is $35 per session for 1 or 2 person session. Reservation required during the air show.</p>

              <p>EP Sims formerly simulators used by Exploration Place that have been upgraded. There is no charge for either of the EP sims they will be on a first come first serve bases.</p> <a href="https://www.facebook.com/simclub.us">Learn more.</a>
            </div>
          </div>
        </div>

      </div>


    </div> <!-- End column -->

  </div>
</div>