<div class="sponsor-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Community Partners</h3>
      </div>
    </div>
    <div class="row sponsor-lg">
      <div class="col-4">
        <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
      </div>
      <div class="col-4">
        <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
      </div>
      <div class="col-4">
        <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
      </div>
    </div>
    <div class="row sponsor-md">
      <div class="col-3">
        <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
      </div>
      <div class="col-3">
        <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
      </div>
      <div class="col-3">
        <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
      </div>
      <div class="col-3">
        <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
      </div>
    </div>
    <div class="row sponsor-sm">
      <div class="col-2">
        <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
      </div>
      <div class="col-2">
        <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
      </div>
      <div class="col-2">
        <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
      </div>
      <div class="col-2">
        <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
      </div>
      <div class="col-2">
        <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
      </div>
      <div class="col-2">
        <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
      </div>
    </div>
  </div>
</div>