.sponsor-container {
    background-color: dodgerblue;
    padding: 2em 0;
}

h3 {
    text-align: center;
    padding-bottom: 1em;
}

.sponsor-lg {
}

.sponsor-md {
    padding: 1em 0;
}

.sponsor-sm {

}