<div class="sponsor-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Community Partners</h3>
      </div>
    </div>

    <!-- Tier 1 -->
    <div class="row sponsor-lg">
      <div class="col-md-4 col-6">
        <a href="http://briancorrellairshows.com/">
          <img src="../../assets/sponsors/brianCorrell.png" class="img-fluid" alt="Brian Correll Airshows">
        </a>
      </div>
      <div class="col-md-4 col-6">
        <a href="https://www.boeing.com/">
          <img src="../../assets/sponsors/boeing.png" class="img-fluid" alt="Boeing">
        </a>
      </div>
      <div class="col-md-4 col-6">
        <a href="http://www.deltadentalks.com/">
          <img src="../../assets/sponsors/deltaDental.png" class="img-fluid" alt="Delta Dental">
        </a>
      </div>
      <div class="col-md-4 col-6">
        <a href="http://www.greaterwichitapartnership.org/">
          <img src="../../assets/sponsors/gwp.png" class="img-fluid" alt="Greater Wichita Partnership">
        </a>
      </div>
      <div class="col-md-4 col-6">
        <a href="http://www.huttonconstruction.com/">
          <img src="../../assets/sponsors/hutcon.png" class="img-fluid" alt="Hutton Construction">
        </a>
      </div>
      <div class="col-md-4 col-6">
        <a href="https://www.meritrustcu.org/">
          <img src="../../assets/sponsors/meritrust.png" class="img-fluid" alt="Meritrust Credit Union">
        </a>
      </div>
      <div class="col-md-4 col-6">
        <a href="http://rustyeckford.com/">
          <img src="../../assets/sponsors/rustyEckFord.png" class="img-fluid" alt="Rusty Eck Ford">
        </a>
      </div>
      <div class="col-md-4 col-6">
        <a href="http://www.spiritaero.com/">
          <img src="../../assets/sponsors/spirit.png" class="img-fluid" alt="Spirit AeroSystems">
        </a>
      </div>
      <div class="col-md-4 col-6">
        <a href="http://www.triumphgroup.com/">
          <img src="../../assets/sponsors/triumph.png" class="img-fluid" alt="Triumph Group">
        </a>
      </div>
      <div class="col-md-4 col-6">
        <a href="https://www.viachristi.org/">
          <img src="../../assets/sponsors/viaChristi.png" class="img-fluid" alt="Via Christi">
        </a>
      </div>
    </div>

    <!-- Tier 2 -->
    <div class="row sponsor-md">
      <div class="col-md-3 col-4">
        <a href="http://cosmo.org/">
          <img src="../../assets/sponsors/cosmoSphere.png" class="img-fluid" alt="Cosmosphere">
        </a>
      </div>
      <div class="col-md-3 col-4">
        <a href="https://worldwide.erau.edu/">
          <img src="../../assets/sponsors/erau.png" class="img-fluid" alt="Embry Riddle Aeronautical University">
        </a>
      </div>
      <div class="col-md-3 col-4">
        <a href="http://hometownchevydeals.com/">
          <img src="../../assets/sponsors/hometownChevyDealers.png" class="img-fluid" alt="Hometown Chevy Dealers">
        </a>
      </div>
      <div class="col-md-3 col-4">
        <a href="http://www.wesellks.com/">
          <img src="../../assets/sponsors/jBias.png" class="img-fluid" alt="J. Bias Real Estate Group">
        </a>
      </div>
      <div class="col-md-3 col-4">
        <a href="https://polytechnic.k-state.edu/">
          <img src="../../assets/sponsors/ksuPoly.png" class="img-fluid" alt="Kansas State University Polytechnic Campus">
        </a>
      </div>
      <div class="col-md-3 col-4">
        <a href="https://www.sylvania-automotive.com/">
          <img src="../../assets/sponsors/sylvania.png" class="img-fluid" alt="Sylvania Automotive">
        </a>
      </div>
      <div class="col-md-3 col-4">
        <a href="https://www.t-mobile.com/">
          <img src="../../assets/sponsors/tmobile.png" class="img-fluid" alt="T-Mobile">
        </a>
      </div>
      <div class="col-md-3 col-4">
        <a href="https://www.ubs.com/">
          <img src="../../assets/sponsors/UBS.png" class="img-fluid" alt="UBS">
        </a>
      </div>
      <div class="col-md-3 col-4">
        <a href="https://www.usaa.com/">
          <img src="../../assets/sponsors/usaa.png" class="img-fluid" alt="USAA">
        </a>
      </div>
    </div>

    <!-- Tier 3 -->
    <div class="row sponsor-sm">
      <div class="col-md-2 col-3">
        <a href="https://www.sellingbetterhomes.com/">
          <img src="../../assets/sponsors/betterHomes.png" class="img-fluid" alt="Better Homes and Gardens Alliance">
        </a>
      </div>
      <div class="col-md-2 col-3">
        <a href="https://www.coldwellbanker.com/Coldwell-Banker-Plaza-Real-Estate-3167c/Derek-Walden-369121a">
          <img src="../../assets/sponsors/coldwell.png" class="img-fluid" alt="Coldwell Banker">
        </a>
      </div>
      <div class="col-md-2 col-3">
        <a href="https://www.commercebank.com/">
          <img src="../../assets/sponsors/commerceBank.png" class="img-fluid" alt="Commerce Bank">
        </a>
      </div>
      <div class="col-md-2 col-3">
        <a href="http://www.cornejocorp.com/">
          <img src="../../assets/sponsors/cornejo-and-sons.png" class="img-fluid" alt="Cornejo and Sons">
        </a>
      </div>
      <div class="col-md-2 col-3">
        <a href="https://www.costco.com/">
          <img src="../../assets/sponsors/costco.png" class="img-fluid" alt="Costco Wholesale">
        </a>
      </div>
      <div class="col-md-2 col-3">
        <a href="http://www.derbyweb.com/">
          <img src="../../assets/sponsors/derby.png" class="img-fluid" alt="City of Derby">
        </a>
      </div>
      <div class="col-md-2 col-3">
        <a href="https://www.firehousesubs.com/">
          <img src="../../assets/sponsors/firehouseSubs.png" class="img-fluid" alt="Firehouse Subs">
        </a>
      </div>
      <div class="col-md-2 col-3">
        <a href="https://www.firstcommand.com/">
          <img src="../../assets/sponsors/firstCommand.png" class="img-fluid" alt="First Command">
        </a>
      </div>
      <div class="col-md-2 col-3">
        <a href="https://freddysusa.com/">
          <img src="../../assets/sponsors/freddys.png" class="img-fluid" alt="Freddy's Frozen Custard & Steakburgers">
        </a>
      </div>
      <div class="col-md-2 col-3">
        <a href="http://hot2trotks.com/">
          <img src="../../assets/sponsors/hot2Trot.png" class="img-fluid" alt="Hot 2 Trot Hotdogs">
        </a>
      </div>
      <div class="col-md-2 col-3">
        <a href="https://www.jasonsdeli.com/">
          <img src="../../assets/sponsors/jasonsDeli.png" class="img-fluid" alt="Jason's Deli">
        </a>
      </div>
      <div class="col-md-2 col-3">
        <a href="http://lahamdevelopment.com/">
          <img src="../../assets/sponsors/lahamDevelopment.png" class="img-fluid" alt="Laham Development">
        </a>
      </div>
      <div class="col-md-2 col-3">
        <a href="https://lo.primelending.com/wichita">
          <img src="../../assets/sponsors/primeLending.png" class="img-fluid" alt="Prime Lending">
        </a>
      </div>

    </div>

    <div class="row">
      <div class="col text-center">
        <br>
        <p style="color: grey">No Federal Endorsement of Sponsors Intended</p>
      </div>
    </div>
  </div>
</div>