<div class="sponsor-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Community Partners</h3>
      </div>
    </div>
    
    <div class="row sponsor-lg">
      <div class="col-md-4 col-6">
        <a href="http://www.deltadentalks.com/">
          <img src="../../assets/sponsors/deltaDentalCropped.png" class="img-fluid">
        </a>
      </div>
      <!-- <div class="col-md-4 col-6">
          <a href="">
            <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
          </a>
      </div> -->
      <!-- <div class="col-md-4 col-6">
          <a href="">
            <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
          </a>
      </div> -->
    </div>

    <div class="row sponsor-md">
      <div class="col-md-3 col-4">
          <a href="http://cosmo.org/">
            <img src="../../assets/sponsors/cosmoSphere.png" class="img-fluid">
          </a>
      </div>
      <div class="col-md-3 col-4">
          <a href="https://worldwide.erau.edu/">
            <img src="../../assets/sponsors/erau.jpg" class="img-fluid">
          </a>
      </div>
      <!-- <div class="col-md-3 col-4">
          <a href="">
            <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
          </a>
      </div> -->
      <!-- <div class="col-md-3 col-4">
          <a href="">
            <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
          </a>
      </div> -->
    </div>

    <div class="row sponsor-sm">
      <div class="col-md-2 col-3">
          <a href="http://www.cornejocorp.com/">
            <img src="../../assets/sponsors/cornejo-and-sons.png" class="img-fluid">
          </a>
      </div>
      <!-- <div class="col-md-2 col-3">
          <a href="">
            <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
          </a>
      </div> -->
      <!-- <div class="col-md-2 col-3">
          <a href="">
            <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
          </a>
      </div> -->
      <!-- <div class="col-md-2 col-3">
          <a href="">
            <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
          </a>
      </div> -->
      <!-- <div class="col-md-2 col-3">
          <a href="">
            <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
          </a>
      </div> -->
      <!-- <div class="col-md-2 col-3">
          <a href="">
            <img src="../../assets/sponsors/wichitalks.png" class="img-fluid">
          </a>
      </div> -->
    </div>

    <div class="row">
      <div class="col text-center">
        <br>
        <p>No Federal Endorsement of Sponsors Intended</p>
      </div>
    </div>
  </div>
</div>