$light-blue: #2493c6;
$dark-blue: #0e68a3;
$light-brown: #e6af3d;
$crimson: #e01021;

.sponsor-container {
    background-color: white;
    padding: 2em 0;
}

h3 {
    text-align: center;
    padding-bottom: 1em;
}

.sponsor-lg {
    div {
        margin: auto;
    }
}

.sponsor-md {
    padding: 1em 0;
    div {
        margin: auto;
    }
}

.sponsor-sm {
    div {
        margin: auto;
    }

}

// a {
//     @media screen and (min-width: 992px) {
//         img {
//             filter: grayscale(100%);
//         }   
//     }

//     &:hover {
//         img {
//             filter: grayscale(0);
//         }
//     }
// }