<div class="container-fluid guestinfo">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="fb-page" data-href="https://www.facebook.com/22arw/" data-tabs="timeline, events" data-small-header="true" data-adapt-container-width="true"
        data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/22arw/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/22arw/">McConnell
            Air Force Base</a></blockquote>
      </div>
    </div>

    <div class="col-md-6 offset-md-1">
      <h3>Guest Information</h3>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

        <li class="nav-item">
          <a class="nav-link active" id="pills-free-tab" data-toggle="pill" href="#pills-free" role="tab" aria-controls="pills-free"
            aria-selected="true">Open House Airshow</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="pills-wtb-tab" data-toggle="pill" href="#pills-wtb" role="tab" aria-controls="pills-wtb" aria-selected="true">What
            To Bring</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-pi-tab" data-toggle="pill" href="#pills-pi" role="tab" aria-controls="pills-pi" aria-selected="false">Prohibited
            Items
          </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" id="pills-pt-tab" data-toggle="pill" href="#pills-pt" role="tab" aria-controls="pills-pt" aria-selected="false">Parking & Transportation</a>
          </li> -->
      </ul>
      <div class="tab-content" id="pills-tabContent">

        <div class="tab-pane fade show active" id="pills-free" role="tabpanel" aria-labelledby="pills-free-tab">
          <h4>McConnell AFB Free Open House Airshow</h4>
          <p>McConnell Air Force Base is opening its gates to the public during the Frontiers in Flight Open House and Airshow,
            September 8th and 9th! Come and see how Team McConnell contributes to the Air Capital of the World as the true
            Home of Air Refueling.
            <br>
            <br> The base is open to the public on Saturday and Sunday from 9 a.m. to 4:30 p.m. The U.S. Air Force Thunderbirds
            are scheduled to perform alongside many other professional airshow performers!
            <br>
            <br>

            <strong>Admission is completely FREE to the public</strong>! We hope to see you here!
          </p>
        </div>

        <div class="tab-pane fade show" id="pills-wtb" role="tabpanel" aria-labelledby="pills-wtb-tab">
          <h4>Permitted Items</h4>
          <ol>
            <li>Diaper Bags</li>
            <li>Small Purses (not to exceed one cubic foot)</li>
            <li>Wheelchairs</li>
            <li>Strollers</li>
            <li>Cameras</li>
            <li>Lawn Chairs</li>
            <li>Handheld Umbrellas</li>
            <li>Sunscreen</li>
          </ol>
          <p>For a printable version of this list, <a href="../../assets/AirshowPermittedItems.pdf" target="_blank">click
              here
            </a>.</p>
        </div>

        <div class="tab-pane fade" id="pills-pi" role="tabpanel" aria-labelledby="pills-pi-tab">
          <h4>Learn more about items you cannot bring.</h4>
          <ol>
            <li>Weapons of any kind</li>
            <ol>
              <li>Firearms</li>
              <li>Knives</li>
              <li>Pocket Tools</li>
              <li>Scissors</li>
              <li>Lasers</li>
              <li>Self Defense Weapons (i.e. Tasers, pepper spray, etc.)</li>
            </ol>
            <li>Federally Illegal Drugs</li>
            <li>Clothing with profanity, nudity, racist intent or graphic violence of any kind</li>
            <li>Clothing with the perception of impersonating military or law enforcement personnel</li>
            <li>Banners or signs of any kind</li>
            <li>Toys resembling lasers or firearms</li>
            <li>RC Aircraft (i.e. drones, balloons)</li>
            <li>Flammable Items or Fireworks</li>
            <li>Pressurized Canisters (i.e. Silly String or Spray Paint)</li>
            <li>Pets (exception for certified service animals)</li>
            <li>Outside Food and Drink (refillable water bottles are permitted)</li>
            <ol>
              <li>Alcoholic Beverages</li>
              <li>Coolers</li>
              <li>Glass Containers</li>
            </ol>
            <li>Sporting Equipment/Personal Transportation Vehicles</li>
            <ol>
              <li>Bicycles</li>
              <li>Skateboards</li>
              <li>Scooters</li>
              <li>Roller Blades</li>
            </ol>
            <li>Excessively Large Items</li>
            <ol>
              <li>All bags must meet be at or under 12 inches by 12 inches by 12 inches</li>
              <li>Working cameras and lens are permitted if meeting the above standards</li>
            </ol>
            <li>Any and all items security personnel consider a safety or security risk</li>
          </ol>
          <p>
            <a href="../../assets/AirshowProhibitedItems.pdf" target="_blank">Please click here to for a printable version
              of this list.</a>
          </p>
          <h5>All individuals are subject to search.</h5>
        </div>
        <div class="tab-pane fade" id="pills-pt" role="tabpanel" aria-labelledby="pills-pt-tab">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi soluta cupiditate nesciunt eaque praesentium reiciendis, nihil
          sed odit neque cum maxime expedita non nisi libero a doloribus voluptatum aspernatur dicta! Lorem ipsum dolor,
          sit amet consectetur adipisicing elit. Non, saepe eius. Adipisci a quis totam, labore unde voluptatum reprehenderit
          perferendis nobis quaerat illo consectetur porro repellat? Mollitia tenetur voluptatum suscipit? Lorem ipsum dolor
          sit amet, consectetur adipisicing elit. In pariatur laborum explicabo exercitationem ex iusto, animi vitae ut dignissimos
          commodi natus ipsam illo consequatur cum temporibus facilis minima praesentium aperiam?
        </div>
      </div>
    </div>
  </div>
</div>