$light-blue: #2493c6;
$dark-blue: #0e68a3;
$light-brown: #e6af3d;
$crimson: #e01021;

.guestinfo {
    background-color: white;
    color: black;
    padding-bottom: 2em;
}

.tab-content {
    background-color: white;
    border-radius: 0 0 1em 1em;
    padding: 1em;
    border: gray solid 1px;
}

h3 {
    text-align: center;
    padding: 1em;
}

.nav-item {
    border: white solid 1px;
    border-radius: 5px;
}