.guestinfo {
    background-color: rgb(23, 23, 23);
    color: white;
    padding-bottom: 2em;
}

.tab-content {
    background-color: white;
    color: black;
    border-radius: 0 0 1em 1em;
    padding: 1em;
}

h3 {
    text-align: center;
    padding: 1em;
}