<div class="container-fluid guestinfo">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3>Guest Information</h3>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-wtb-tab" data-toggle="pill" href="#pills-wtb" role="tab" aria-controls="pills-wtb" aria-selected="true">What To Bring</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-pi-tab" data-toggle="pill" href="#pills-pi" role="tab" aria-controls="pills-pi" aria-selected="false">Prohibited Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-pt-tab" data-toggle="pill" href="#pills-pt" role="tab" aria-controls="pills-pt" aria-selected="false">Parking & Transportation</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-wtb" role="tabpanel" aria-labelledby="pills-wtb-tab">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus beatae est asperiores ducimus quibusdam ab fugiat alias voluptatum voluptatem nihil nam quis perferendis veniam, distinctio nesciunt vero mollitia quaerat recusandae?
          </div>
          <div class="tab-pane fade" id="pills-pi" role="tabpanel" aria-labelledby="pills-pi-tab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi perspiciatis at illum saepe facilis. Soluta voluptate repellat nisi aperiam consectetur, veniam qui, ad facilis totam laboriosam rem modi neque. Porro! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem quasi consequuntur minima esse aut similique eveniet est inventore fuga porro, dignissimos asperiores omnis molestiae eius, officia odio. Deleniti, sequi praesentium!
          </div>
          <div class="tab-pane fade" id="pills-pt" role="tabpanel" aria-labelledby="pills-pt-tab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi soluta cupiditate nesciunt eaque praesentium reiciendis, nihil sed odit neque cum maxime expedita non nisi libero a doloribus voluptatum aspernatur dicta! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, saepe eius. Adipisci a quis totam, labore unde voluptatum reprehenderit perferendis nobis quaerat illo consectetur porro repellat? Mollitia tenetur voluptatum suscipit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. In pariatur laborum explicabo exercitationem ex iusto, animi vitae ut dignissimos commodi natus ipsam illo consequatur cum temporibus facilis minima praesentium aperiam?
          </div>
        </div>
    </div>
  </div>
</div>