<div class="container-fluid guestinfo">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Guest Information</h3>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

          <li class="nav-item">
            <a class="nav-link active" id="pills-free-tab" data-toggle="pill" href="#pills-free" role="tab" aria-controls="pills-free" aria-selected="true">Open House Airshow</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="pills-wtb-tab" data-toggle="pill" href="#pills-wtb" role="tab" aria-controls="pills-wtb" aria-selected="true">What To Bring</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-pi-tab" data-toggle="pill" href="#pills-pi" role="tab" aria-controls="pills-pi" aria-selected="false">Prohibited Items</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" id="pills-pt-tab" data-toggle="pill" href="#pills-pt" role="tab" aria-controls="pills-pt" aria-selected="false">Parking & Transportation</a>
          </li> -->
        </ul>
        <div class="tab-content" id="pills-tabContent">

          <div class="tab-pane fade show active" id="pills-free" role="tabpanel" aria-labelledby="pills-free-tab">
              <h4>McConnell AFB Free Open House Airshow</h4>
              <p>McConnell Air Force Base is opening its gates to the public during the Frontiers in Flight Open House and Airshow, September 8th and 9th! Come and see how Team McConnell contributes to the Air Capital of the World as the true Home of Air Refueling.<br><br>

                The base is open to the public on Saturday and Sunday from 9 a.m. to 4:30 p.m.  The U.S. Air Force Thunderbirds are scheduled to perform alongside the U.S. Army Golden Knights Parachute Team and plenty of other professional airshow performers!<br><br>
                
                <strong>Admission is completely FREE to the public</strong>!  We hope to see you here!
                </p>
            </div>

          <div class="tab-pane fade show" id="pills-wtb" role="tabpanel" aria-labelledby="pills-wtb-tab">
            <h4>Permitted Items</h4>
            <ol>
              <li>Diaper Bags for individuals with small children or special needs and small purses not to exceed 1 cubic foot</li>
              <li>Strollers, wheelchairs and electric scooters</li>
              <li>Cameras, and/or Camcorders (without bags)</li>
              <li>Lawn chairs</li>
            </ol>
          </div>

          <div class="tab-pane fade" id="pills-pi" role="tabpanel" aria-labelledby="pills-pi-tab">
            <h4>The following items are prohibited in the Open House area.</h4>
            <ol>
              <li>Weapons: (i.e. guns, knives, pepper spray, batons, fireworks, etc.)</li>
              <li>Illegal Drugs, Outside Alcoholic beverages, and glass bottles</li>
              <li>Outside food and drink</li>
              <li>Pets (i.e. dogs, cats, hamsters, snakes, etc.)  exception: service dogs</li>
              <li>Sports Equipment: (i.e. roller skates, bicycles, skateboards, in-line skates, etc.)</li>
              <li>UAV/Drones</li>
              <li>Large Hand carried Items:  (i.e. tote bags, backpacks, coolers, etc.)</li>
              <li>People are subject to search.</li>
            </ol>
          </div>
          <div class="tab-pane fade" id="pills-pt" role="tabpanel" aria-labelledby="pills-pt-tab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi soluta cupiditate nesciunt eaque praesentium reiciendis, nihil sed odit neque cum maxime expedita non nisi libero a doloribus voluptatum aspernatur dicta! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, saepe eius. Adipisci a quis totam, labore unde voluptatum reprehenderit perferendis nobis quaerat illo consectetur porro repellat? Mollitia tenetur voluptatum suscipit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. In pariatur laborum explicabo exercitationem ex iusto, animi vitae ut dignissimos commodi natus ipsam illo consequatur cum temporibus facilis minima praesentium aperiam?
          </div>
        </div>
    </div>
  </div>
</div>