<div class="container-fluid text-center" id="parking">
  <div class="row">
    <div class="col">
      <h1>Parking</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <h2>General Public</h2>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <h2>DoD Card Holders</h2>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <h2>Vendors</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Parking Information Coming Soon</p>
    </div>
  </div>
</div>