#parking {
  background-image: url(../../assets/parking.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: black;

  padding-top: 4em;

  .title {
    font-size: 5em;
  }
}